@define-color base00 #1d1f21; @define-color base01 #282a2e; @define-color base02 #373b41; @define-color base03 #969896;
@define-color base04 #b4b7b4; @define-color base05 #c5c8c6; @define-color base06 #e0e0e0; @define-color base07 #ffffff;

@define-color base08 #cc6666; @define-color base09 #de935f; @define-color base0A #f0c674; @define-color base0B #b5bd68;
@define-color base0C #8abeb7; @define-color base0D #81a2be; @define-color base0E #b294bb; @define-color base0F #a3685a;

* {
  font-family: "Noto Sans";
  font-size: 10pt;
}

progress,
progressbar,
trough {
  border: 2px solid @base0D;
}

trough {
  background: @base01;
}

.notification.low,
.notification.normal {
  border: 2px solid @base0D;
}

.notification.low progress,
.notification.normal progress {
  background: @base0F;
}

.notification.critical {
  border: 2px solid @base08;
}

.notification.critical progress {
  background: @base08;
}

.summary {
  color: @base05;
}

.body {
  color: @base06;
}

.time {
  color: @base06;
}

.notification-action {
  color: @base05;
  background: @base01;
}

.notification-action:hover {
  background: @base01;
  color: @base05;
}

.notification-action:active {
  background: @base0F;
  color: @base05;
}

.close-button {
  color: @base02;
  background: @base08;
}

.close-button:hover {
  background: lighter(@base08);
  color: lighter(@base02);
}

.close-button:active {
  background: @base08;
  color: @base00;
}

.notification-content {
  background: @base00;
}

.notification-content .image {
  margin: 4px 8px 4px 4px;
}

.floating-notifications.background .notification-row .notification-background {
  background: transparent;
  color: @base05;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  color: @base05;
}

.notification-group .notification-group-headers .notification-group-icon {
  color: @base05;
}

.notification-group .notification-group-headers .notification-group-header {
  color: @base05;
}

.notification-group.collapsed .notification-row .notification {
  background: @base01;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background: @base01;
}

.control-center {
  background: @base00;
  border: 2px solid @base0D;
  color: @base05;
}

.control-center .notification-row .notification-background {
  background: @base00;
  color: @base05;
}

.control-center .notification-row .notification-background:hover {
  background: @base00;
  color: @base05;
}

.control-center .notification-row .notification-background:active {
  background: @base0F;
  color: @base05;
}

.widget-title {
  color: @base05;
  margin: 0.5rem;
}

.widget-title > button {
  background: @base01;
  border: 2px solid @base0D;
  color: @base05;
}

.widget-title > button:hover {
  background: @base01;
}

.widget-dnd {
  color: @base05;
}

.widget-dnd > switch {
  background: @base01;
  border: 2px solid @base0D;
}

.widget-dnd > switch:hover {
  background: @base01;
}

.widget-dnd > switch:checked {
  background: @base0F;
}

.widget-dnd > switch slider {
  background: @base06;
}

.widget-mpris {
  color: @base05;
}

.widget-mpris .widget-mpris-player {
  background: @base01;
  border: 2px solid @base0D;
}

.widget-mpris .widget-mpris-player button:hover {
  background: @base01;
}

.widget-mpris .widget-mpris-player > box > button {
  border: 2px solid @base0D;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background: @base01;
  border: 2px solid @base0D;
}
