# Nix snippets

snippet module
        {
          lib,
          config,
          pkgs,
          ...
        }:

        let
          cfg = config.${1|myNixOS|myHome}.${2};
        in

        {
          options.${1}.${2}.enable = lib.mkEnableOption "${3}";

          config = lib.mkIf cfg.enable {

            $0

          };
        }
