#
# My personal Nix snippets.
#

snippet module Simple NixOS / Home Manager module
        { config, lib, pkgs, ... }:

        let
          cfg = config.my.${1:name};
        in

        {
          options = {

            my.${1}.enable = lib.mkEnableOption "${2:fullName}";

          };

          config = lib.mkIf cfg.enable {

            $0

          };
        }
