# My personal TeX snippets.

snippet defn Add a definition
        \begin{defn}
            $0
        \end{defn}

snippet defn Add an example
        \begin{exmp}
            $0
        \end{exmp}

snippet prop Add a proposition
        \begin{prop}
            $0
        \end{prop}

snippet thm Add a theorem
        \begin{thm}
            $0
        \end{thm}

snippet rem Add a remark
        \begin{rem}
            $0
        \end{rem}

snippet ra →
        \rightarrow $0
